- name: Set up Python and install requirements in venv
  uses: actions/setup-python@v4
  with:
    python-version: '3.x'

- name: Create venv and install dependencies
  shell: bash
  run: |
    python -m venv .venv
    . .venv/bin/activate
    python -m pip install --upgrade pip
    pip install -r __qmk__/requirements.txt

on:
  workflow_dispatch:
    inputs:
      keyboard:
        description: 'Keyboard'
        required: true
        type: choice
        options:
        - keyball39
        - keyball44
        - keyball61
        - keyball46
        - one47
      keymap:
        description: 'Keymap'
        required: true
        type: string
        default: 'default'

jobs:

  build:

    uses: ./.github/workflows/build-firmware.yml
    with:
      qmk_version: '0.22.14'
      keyboard:    ${{ inputs.keyboard }}
      keymap:      ${{ inputs.keymap }}
